.hny{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 100px;
}



.h{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(./images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    border-radius: 16px;
    text-align: center;
 
}

.part{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
}


/* footer sec */

footer{
    background: #070211;
    margin-top: 120px;
    
   

}

.parafoot{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
    
   
    
}

.num{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
   
    
   
}


.ful-col{
   display: flex;
   justify-content: space-around;
    
}

.col2paras{
    row-gap: 25px ;
}

/* .hrline{
    background: rgba(255, 255, 255, 0.15);
    color: #FFFFFF;
} */

.colum-inside-footer{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    /* justify-content: space-between; */
    
}

.full-col{
    display: flex;
   justify-content: space-around;
}


.rights{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.Unsubscribe{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.all-icons{
    padding-left: 850px;
    padding-top: 100px;
    
}

.icons{
    margin-left: 24px;
}


/* main sec */

.main1{
    text-align: center;
    
}

.off65{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.holidayline{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.holiday{
    margin-top: 48px;
}

.m65{
    margin-top: 120px;
}

.category{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.main2{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(./images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 85%; 
    height: 800px;
    margin-left: 140px;
    margin-right: 140px;
    border-radius: 10px;
    margin-top: 140px;
}

.welcome{
    color: #FFF;
    font-family: Merriweather;
    font-size: 60px;
    font-style: normal;
    font-weight: 900;
    /* line-height: 88px;  */
    letter-spacing: 7.04px;
    padding-left: 126px;
    padding-top: 106px;
    
    
}

.ppline{
    color: white;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
    padding-left: 126px ;
 
}

.fullcol{
    display: flex;
    justify-content: space-between;
}




.pic{
    display: flex;
    width: 319.83px;
    height: 464.662px;
    padding: 0.008px 0px 0px 0px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    padding-top: 66px;
    padding-right: 100px;
    
}

.join{
    color: white;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin-right: 258px;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}



.main3{
    width: 1320px;
    height: 482px;
    flex-shrink: 0;
    text-align: center;
}

.main3d-1{
    padding-top: 100px;
    padding-left: 385px;
    padding-right: 386;
    padding-bottom: 214px;
}

.lin2{
    color: #070211;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.lincol{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 56px;
    text-transform: capitalize;
}

.btn1{
    border-radius: 8px;
    background: #F00;
    margin-left: 5%;
    margin-bottom: 500px;
    border: none;
    padding: 16px 32px 16px 32px;

}

.btn1join{
    color: white;
}



.main5{
    margin-left: 140px;
    margin-top: 120px;
    margin-bottom: 120px;
    max-width: 1600px;
    height: 1335px;
}

.gift{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.awesome{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.l{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}




.rec1{
    width:500px;
    
}

.rec2{
    padding-left: 25px;
    width:500px;
}
.rec3{
    padding-left: 25px;
    width:500px;
}
.rec4{
    width:500px;
}

.rec5{
    padding-left: 25px;
    padding-top: 10px;
    width:500px;
}
.rec6{
    padding-left: 25px;
    padding-top: 10px;
    width:500px;
}

/* .total2row{
    width: 
} */



.main6{
    margin-left: 140px;
    margin-top: 120px;
}
.m6_1{

}

.letterimg{
    width: 150px;
    height: 150px;
    flex-shrink: 0;
    padding-top: 80px;
    padding-left: 750px;
}

.newsletter{
    color: #070211;
    text-align: center;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}
.newsLline{
    color: rgba(7, 2, 17, 0.60);
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}

.formtype{
    width: 548px;
    height: 80px;
    flex-shrink: 0;
    background: #FFF;
    border: none;
    
}

.formm{
    padding-left: 450px;
    padding-bottom: 80px;
    
}

.subscribee{
    border-radius: 0px 50px 50px 0px;
    background: #F00;
    width: 210px;
    height: 80px;
    flex-shrink: 0;
    border: none;
    cursor: pointer;
}

.subscribecolor{
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
}

/* main4  */


.main4{
    margin-left: 140px;
    margin-top: 120px;
    margin-right: 180px;
    margin-bottom: 120px;
}

.bestoffer{
    color: #F00;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.cmngsoon{
    color: #070211;
    font-family: Merriweather;
    font-size: 48px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: capitalize;
}

.underthat{
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
    
}

.main4fullcol{
    justify-content: space-between;
    display: flex;
}

.lineafteryear{
    padding-right: 0px;
    color: rgba(7, 2, 17, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px; 
}

.yearnow{
    color: #F00;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.g96{
    width: 140px;
    height: 140px;
    flex-shrink: 0;
}


.main4col-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%; 
}

.image-container{
    border: 10px solid red; 
    border-radius: 50%; 
    padding: 10px; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

.centerimage{
    display: block; 
    border-radius: 463px;
    width: 364.844px;
    height: 364.844px;
}
