.hny{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-top: 100px;
}



.h{
    background-image: linear-gradient(180deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(/images/Banner\ Image.png);
    background-position: center;
    background-repeat: no-repeat;
    height: 600px;
    border-radius: 16px;
    text-align: center;
 
}

.part{
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; /* 131.944% */
}


/* footer sec */

footer{
    background: #070211;
    margin-top: 120px;
    
   

}

.parafoot{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; 
    
   
    
}

.num{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px; /* 166.667% */
    
   
}


.ful-col{
   display: flex;
   justify-content: space-around;
    
}

.col2paras{
    row-gap: 25px ;
}

/* .hrline{
    background: rgba(255, 255, 255, 0.15);
    color: #FFFFFF;
} */

.colum-inside-footer{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    display: flex;
    /* justify-content: space-between; */
    
}

.full-col{
    display: flex;
   justify-content: space-around;
}


.rights{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.Unsubscribe{
    color: #FFF;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.all-icons{
    padding-left: 850px;
    padding-top: 100px;
    
}

.icons{
    margin-left: 24px;
}


/* main sec */

.main1{
    text-align: center;
    
}

.off65{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.holidayline{
    color: #F00;
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.holiday{
    margin-top: 48px;
}

.m65{
    margin-top: 120px;
}

.category{
    color: #070211;
    text-align: center;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    
}

.main2{
    background-image: linear-gradient(90deg, #070211 0%, rgba(7, 2, 17, 0.00) 100%),url(./images/Vectorrr.png);
    background-repeat: no-repeat;
    background-size:cover;
    background-position: center;
    width: 85%; 
    height: 600px;
    margin-left: 140px;
    margin-right: 140px;
}

.welcome{
    color: #FFF;
    font-family: Merriweather;
    font-size: 64px;
    font-style: normal;
    font-weight: 900;
    line-height: 88px; 
    letter-spacing: 7.04px;
    padding-left: 126px;
    padding-top: 126px;
    padding-bottom: 266px;
}

.ppline{
    color: rgba(255, 255, 255, 0.80);
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px; 
}